{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/ampel.css' %}">
{% endblock %}

{% block headline %}
    Ampel
{% endblock %}

{% block content %}

    <form>
        <div class="ampel_container">
            <div id="R" class="ampel_element ampel_rot"></div>
            <div id="Y" class="ampel_element ampel_gelb"></div>
            <div id="G" class="ampel_element ampel_gruen"></div>
            <input type="hidden" name="ampel" required>
        </div>

        <div class="ampel_comment">
            <h3>Anmerkungen</h3>
            <textarea></textarea>
        </div>

        <button type="button" onclick="window.location.href = '{% url 'fwhome' %}'">Zurück</button>
        <button type="submit">Abschicken</button>

        <small>Zuletzt {{ last_ampel.status }} am {{ last_ampel.date|date:"d.m.Y" }} abgegeben</small>

    </form>

    <script>
        let ampelElements = document.querySelectorAll('.ampel_element');
        let ampelInput = document.querySelector('input[name="ampel"]');
        ampelElements.forEach(ampelElement => {
            ampelElement.addEventListener('click', () => {
                if (ampelElement.classList.contains('ampel_selected')) {
                    ampelElements.forEach(ampelElement => {
                        ampelElement.classList.remove('ampel_selected');
                        ampelElement.classList.remove('ampel_disabled');
                        ampelInput.value = '';
                    });
                    return;
                }
                ampelElements.forEach(ampelElement => {
                    ampelElement.classList.remove('ampel_selected');
                    ampelElement.classList.add('ampel_disabled');
                });
                ampelElement.classList.add('ampel_selected');
                ampelElement.classList.remove('ampel_disabled');
                ampelInput.value = ampelElement.id;
            });
        });

        document.querySelector('form').addEventListener('submit', (event) => {
            event.preventDefault();
            if (!ampelInput.value) {
                alert('Bitte wählen Sie eine Farbe aus');
                return;
            }
            let textarea = document.querySelector('textarea');
            let comment = textarea.value;
            let comment_input = document.createElement('input');
            comment_input.type = 'hidden';
            comment_input.name = 'comment';
            comment_input.value = comment;
            event.target.appendChild(comment_input);

            event.target.submit();
        });
    </script>

{% endblock %}