{% extends 'baseFw.html' %}
{% load static %}
{% load base_fw_filter %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/aufgabe.css' %}">
{% endblock %}

{% block headline %}
{% trans "Aufgabe" %}
{% endblock %}

{% block content %}
<div class="card rounded-4">
    <div class="card-header">
        <h2 class="card-title mb-0">{{ freiwilliger_aufgabe.aufgabe.name }}</h2>
    </div>
    <div class="card-body">
        {% include "components/task_detail_form.html" with task=freiwilliger_aufgabe %}
    </div>
</div>

{% endblock %}