{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/aufgaben.css' %}">
{% endblock %}

{% block headline %}
    Aufgaben
{% endblock %}

{% block content %}

    <div class="offene_aufgaben_div">

        <h3>Offene Aufgaben: {{ len_offen }}</h3>

        {{ aufgaben_offen }}

    {% for aufgabe in aufgaben_offen %}
        <div class="aufgabe_div">
            <h4>{{ aufgabe.aufgabe.name }}</h4>
            <p>{{ aufgabe.aufgabe.beschreibung }}</p>
            <p>Fällig: {{ aufgabe.faellig }}</p>
        <a href="{% url 'fwhome' %}">Jz erledigen</a>
        </div>
    {% endfor %}

    </div>

    <div>
        <details>
            <summary>Pending Aufgaben: {{ len_pending }}</summary>
            <p>Bli Bla Blubb</p>
            {{ aufgaben_pending }}
        </details>
    </div>

    <div class="erledigte_aufgaben_div">

        <details>
            <summary>Erledigte Aufgaben: {{ len_erledigt }}</summary>
            <p>Bli Bla Blubb</p>
            {{ aufgaben_erledigt }}
        </details>

    </div>

{% endblock %}