{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/aufgaben.css' %}">
{% endblock %}

{% block headline %}
    Aufgaben
{% endblock %}

{% block content %}

    <div class="offene_aufgaben_div">

        <h3>Offene Aufgaben: {{ len_offen }}</h3>

        {{ aufgaben_offen }}

        {% for aufgabe in aufgaben_offen %}
            <div class="aufgabe_div">
                <h4>{{ aufgabe.aufgabe.name }}</h4>
                <p>{{ aufgabe.aufgabe.beschreibung }}</p>
                <p>Fällig: {{ aufgabe.faellig|date:"d.m.Y" }}</p>
                <a href="{% url 'aufgaben_detail' aufgabe.aufgabe.id %}">Jz erledigen</a>
            </div>
        {% endfor %}

    </div>

    <div>
        <details>
            <summary>Pending Aufgaben: {{ len_pending }}</summary>
            {% for aufgabe in aufgaben_pending %}
                <div class="aufgabe_div">
                    <h4>{{ aufgabe.aufgabe.name }}</h4>
                    <p>{{ aufgabe.aufgabe.beschreibung }}</p>
                    <p>Fällig: {{ aufgabe.faellig|date:"d.m.Y" }}</p>
                    <a href="{% url 'aufgaben_detail' aufgabe.aufgabe.id %}">Bearbeiten</a>
                </div>
            {% endfor %}
        </details>
    </div>

    <div class="erledigte_aufgaben_div">

        <details>
            <summary>Erledigte Aufgaben: {{ len_erledigt }}</summary>

            {% for aufgabe in aufgaben_erledigt %}
                <div class="aufgabe_div">
                    <h4>{{ aufgabe.aufgabe.name }}</h4>
                    <p>{{ aufgabe.aufgabe.beschreibung }}</p>
                    <p>Erledigt am: {{ aufgabe.erledigt_am|date:"d.m.Y" }}</p>
                    <a href="{% url 'aufgaben_detail' aufgabe.aufgabe.id %}">Bearbeiten</a>
                </div>
            {% endfor %}
        </details>

    </div>

{% endblock %}