{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FW Msg</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block head %}
    {% endblock %}
</head>
<body>

<div class="wrapper">


    <div class="head_container">
        <a href="{% url 'fwhome' %}">
            <div class="logo_container">
                ♑
            </div>
        </a>

        <h1>
            {% block headline %}
            {% endblock %}
        </h1>

        <div class="menu_container_button"
             onclick="document.querySelector('div.menu_container').style.display = 'flex'">
            ≣
        </div>

    </div>

    <div class="menu_container" onclick="this.style.display = 'none'">

        <a href="{% url 'fwhome' %}">
            Home
        </a>
        <a href="{% url 'aufgaben' %}">
            Aufgaben
        </a>
        <a>
            Logout
        </a>

    </div>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>

    <footer>
        <a href="{% url 'fwhome' %}">
            <div class="bar_div">
                🏠
            </div>
        </a>

        <div class="bar_div">
            📅
        </div>

        <div class="bar_div">
            +
        </div>

        <div class="bar_div">
            📄
        </div>

        <a href="{% url 'profil' %}">
            <div class="bar_div">
                👤
            </div>
        </a>
    </footer>

</div>

</body>
</html>