{% load static %}
{% load base_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FW Msg</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/base.js' %}"></script>

    {% block head %}
    {% endblock %}

    <style>
        :root {
            --color: {{ user|get_color }};
            --secondary_color: {{ user|get_secondary_color }};
            --text_color: {{ user|get_text_color }};
        }
    </style>

</head>
<body>

<div id="wrapper" class="wrapper">


    <div class="head_container">
        <a href="{% url 'fwhome' %}">
            <div class="logo_container">
                {% with org=user|get_org %}
                    <img src="{{ org.logo.url }}" alt="BMW-Logo">
                {% endwith %}
            </div>
        </a>

        <h1>
            {% block headline %}
            {% endblock %}
        </h1>

        <div class="menu_container_button"
             onclick="document.querySelector('div.menu_container').style.display = 'flex'">
            ≣
        </div>

    </div>

    <div class="menu_container" onclick="this.style.display = 'none'">

        <a href="{% url 'fwhome' %}">
            Home
        </a>
        <a href="{% url 'aufgaben' %}">
            Aufgaben
        </a>
        <a>
            Logout
        </a>

    </div>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>

    <footer>
        <a href="{% url 'fwhome' %}">
            <div class="bar_div">
                🏠
            </div>
        </a>

        <div class="bar_div">
            📅
        </div>

        <div class="bar_div" onclick="onPlusClicked()">
            +
        </div>

        <a href="{% url 'dokumente' %}">
            <div class="bar_div">
                📄
            </div>
        </a>

        <a href="{% url 'profil' %}">
            <div class="bar_div">
                👤
            </div>
        </a>
    </footer>

</div>

<div id="dark_bg" class="dark_background" onclick="onDarkBgClicked()"></div>

<div id="action_view" class="action_view">
    <a href="{% url 'bild' %}">Bilder hochladen</a>
    <a>Dokumente hochladen</a>
    <a href="{% url 'aufgaben' %}">Aufgabe erledigen</a>
    <a>Ampelmeldung</a>
</div>

</body>
</html>