{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/profil.css' %}">
{% endblock %}

{% block headline %}
    Profil
{% endblock %}


{% block content %}
    <div class="profil_container">
        <div class="profil_img">
            <img src="{% static 'img/default_img.png' %}" alt="Profilbild">
        </div>

        <div class="land_container">
            <h3>Einsatzland</h3>
            <img src="{% static 'img/de.png' %}" alt="Deutschland">
            <p>Deutschland</p>
        </div>
    </div>

    <div class="steckbrief_container">
        <h3>Steckbrief</h3>
        <p>Name: {{ freiwilliger.first_name }} {{ freiwilliger.last_name }}</p>
        <p>Geburtsdatum: {{ freiwilliger.geburtsdatum|date:"d.m.Y" }}</p>
        <p>Telefon: {{ freiwilliger.phone|default:"" }}</p>
        <p>Telefon Einsatzland: {{ freiwilliger.phone_einsatzland|default:"" }}</p>
        <p>Email: {{ freiwilliger.email|default:"" }}</p>
        {% for profil in profil_users %}
            <a>{{ profil.attribut }}: {{ profil.value }}</a>
            <a class="rm_btn" style="display: none" href="{% url 'remove_profil' profil.id %}">remove</a>
            <br>
        {% endfor %}

        {% if this_user %}
            <div id="form_div" style="display: none">
                <form method="post">
                    {% csrf_token %}
                    {{ profil_user_form.as_p }}
                    <input type="submit" value="Speichern">
                </form>
            </div>

            <div class="button_container">
                <button onclick="Array.from(document.getElementsByClassName('rm_btn')).forEach(e => e.style.display='block')">
                    edit
                </button>
                <button onclick="document.getElementById('form_div').style.display='block'; this.style.display='none'">+
                </button>
            </div>
        {% endif %}

    </div>
{% endblock %}