.ampel_element {
    aspect-ratio: 1;
    width: 30%;
    max-width: 75px;
    border-radius: 40%;
    border: 4px solid black;
}

.ampel_selected {
    transform: scale(1.1);
}

.ampel_disabled {
    transform: scale(1);
    opacity: 0.5;
}

.ampel_rot {
    background-color: red;
}

.ampel_gelb {
    background-color: yellow;
}

.ampel_gruen {
    background-color: green;
}