.head_container {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color);
/*    background-color: #3A7734;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_container a {
    text-decoration: none;
}

.logo_container {
    margin: 10px;
    height: 60px;
    max-height: 100px;
}

.logo_container img {
    height: 100%;
    object-fit: cover;
}

.menu_container_button {
    background-color: white;
    height: 30px;
    padding: 10px;
    cursor: pointer;

    font-size: 35px;
    display: flex;
    align-items: center;
}

.menu_container {
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: yellow;
    top: 0;
    right: 0;
    z-index: 1000;
    display: none;
    flex-direction: column;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 10px;
    background-color: var(--background-color);
}

.action_view {
    position: fixed;
    bottom: 60px;
    right: 50%;
    transform: translateX(50%);
    background-color: white;
    z-index: 1000;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
}

.dark_background {
    display: none;
    filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    position: sticky;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    /*background-color: #3A7734;*/
    background-color: var(--color);
}

.footer_container a {
    text-decoration: none;
    height: 100%;
}

.bar_div {
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    height: 100%;
}
