.head_container {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3A7734;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_container a {
    text-decoration: none;
}

.logo_container {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    height: 100%;
    max-height: 200px;
}

.menu_container_button {
    background-color: white;
    height: 30px;
    padding: 10px;
    cursor: pointer;

    font-size: 35px;
    display: flex;
    align-items: center;
}

.menu_container {
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: yellow;
    top: 0;
    right: 0;
    z-index: 1000;
    display: none;
    flex-direction: column;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 10px;
}

footer {
    position: sticky;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background-color: #3A7734;
}

.footer_container a {
    text-decoration: none;
    height: 100%;
}

.bar_div {
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    height: 100%;
}