.all_ordner_div {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    height: 75vh;
}

.ordner_div {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 30%;
    max-width: 400px;
    overflow-y: auto;
    max-height: 100%;
    overflow-x: hidden;
    gap: 10px;
}

.dokument_div {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.img_div {
    display: flex;
    justify-content: center;
}

.img_div img {
    width: 100%;
    border-radius: 10px;
}