.all_ordner_div {
    display: flex;
    overflow-x: auto;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    height: 75vh;
}

.ordner_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100vw;
    min-width: 400px;
    overflow-y: auto;
    max-height: 100%;
}