body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e1e1e1;
}

h2 {
    font-size: 30px;
    color: black;
    margin: 4px 6px;
    text-align: center;
}

form {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding: 5px 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

label {
    font-size: 20px;
    width: 100%;
}

input {
    padding: 8px;
    border-radius: 5px;
    width: auto;
    font-size: 16px;
    margin-top: 4px;
}

.errorlist {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.errorlist li {
    list-style-type: none;
}