.profil_container {
    display: flex;
    justify-content: space-around;
}

.profil_img {
    width: 40%;
    max-width: 200px;
}

.profil_img img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 1001;
    border-radius: 50%;
    border: 1px solid lightgray;
    margin: 5px 10px;
}

.land_container {
    width: 50%;
}


.steckbrief_container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.steckbrief_container div {
    width: 50%;
    min-width: 200px;
    max-width: 300px;
}