
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
}

nav {
    position: fixed;
    top: 100px;
    bottom: 0;
    background-color: #eee;
    padding: 10px;
    width: 200px;
    overflow-y: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav ul h4 {
    margin: 0;
    border-bottom: 1px solid #ccc;
}

nav ul li {
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #ccc;
}

nav ul a {
    text-decoration: none;
    color: #333;
}

nav ul a li:hover {
    background-color: #ddd;
}

@media (min-width: 800px) {
    nav {
        display: block;
        left: 0;
        right: auto;
        min-width: 200px;
    }

    .content {
        margin-left: 220px;
        margin-top: 100px;
        padding: 16px;
    }

    .nav-button {
        display: none;
    }
}

@media (max-width: 799px) {
    nav {
        display: none;
        right: 0;
        left: auto;
        min-width: 50%;
    }

    .nav-button {
        display: block;
        position: relative;
        top: 10px;
        right: 10px;
        float: right;
        z-index: 1000;
    }

    .content {
        margin-top: 100px;
        padding: 16px;
    }
}