{% load static %}
{% load base_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}FWMsg{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/baseOrg.css' %}">

    <style>
        :root {
            --color: {{ user|get_color }};
            --secondary_color: {{ user|get_secondary_color }};
            --text_color: {{ user|get_text_color }};
            --ampel_red: #FF0000;
            --ampel_yellow: #FFFF00;
            --ampel_green: #00FF00;
        }
    </style>

    {% block head %}
    {% endblock %}
</head>
<body>

<button class="nav-button" onclick="document.querySelector('nav').style.display='block'; this.style.display='none'">
    Menü
</button>

<header>
    {% with org=user|get_org %}

        <a href="{% url 'fwhome' %}">
            <div class="logo_container">
                <img src="{{ org.logo.url }}" alt="BMW-Logo">
            </div>
        </a>

        <h1>
            {% block headline %}
                {{ org.name }}
            {% endblock %}
        </h1>
    {% endwith %}

</header>

<nav>
    <button class="nav-button"
            onclick="document.querySelector('nav').style.display='none';document.querySelectorAll('.nav-button')[0].style.display='block';">
        Schließen
    </button>
    <a href="{% url 'org_home' %}">Home</a>
    <ul>
        <a href="{% url 'list_object' 'freiwilliger' %}">
            <li><h4>Freiwillige</h4></li>
        </a>
        <a href="{% url 'list_ampel' %}">
            <li>Ampelmeldungen</li>
        </a>
        <a href="/">
            <li>Bilder</li>
        </a>
        <a href="{% url 'list_object' 'aufgabe' %}">
            <li>Aufgaben</li>
        </a>
        <a href="{% url 'list_object' 'aufgabenprofil' %}">
            <li>Profile</li>
        </a>
        <a href="/">
            <li>Aufgaben/Profile zuweisen</li>
        </a>
        <a href="/">
            <li>Pinnwand</li>
        </a>
        <a href="{% url 'list_object' 'notfallkontakt' %}">
            <li>Notfallkontakte</li>
        </a>
        <li>
            <details>
                <summary>Andere Einstellungen</summary>
                <a href="{% url 'list_object' 'jahrgang' %}">
                    <li>Jahrgänge</li>
                </a>
                <a href="{% url 'list_object' 'kirchenzugehoerigkeit' %}">
                    <li>Kirchenzugehörigkeiten</li>
                </a>
                <a href="{% url 'list_object' 'entsendeform' %}">
                    <li>Entsendeform</li>
                </a>
            </details>
        </li>
    </ul>

    <ul>
        <a href="/">
            <li><h4>Dokumente</h4></li>
        </a>
    </ul>

    <ul>
        <a href="{% url 'list_object' 'einsatzland' %}">
            <li><h4>Einsatzländer</h4></li>
        </a>
        <a href="{% url 'list_object' 'einsatzstelle' %}">
            <li>Einsatzstellen</li>
        </a>
        <a href="/">
            <li>Kommunikation</li>
        </a>
    </ul>
</nav>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
{% endblock %}


<script>
    document.addEventListener('DOMContentLoaded', function () {
        window.addEventListener('resize', function () {
            if (window.innerWidth > 800) {
                document.querySelector('nav').style.display = 'block';
                document.querySelectorAll('.nav-button')[0].style.display = 'none';
            } else {
                document.querySelector('nav').style.display = 'none';
                document.querySelectorAll('.nav-button')[0].style.display = 'block';
            }
        });
    });

    const nav = document.querySelector('nav');
    const details = nav.querySelector('details');

    details.addEventListener('mouseenter', () => {
        details.setAttribute('open', '');
    });

    details.addEventListener('mouseleave', () => {
        details.removeAttribute('open');
    });
</script>

</body>
</html>