{% extends "baseOrg.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/homeOrg.css' %}">
{% endblock %}

{% block content %}
<h2>Dashboard</h2>

<div class="row" data-masonry='{"percentPosition": true }'>
    <!-- Newest Images -->
     {% if request.user.customuser.person_cluster.bilder %}
    <div class="col-md-6 mb-4">
        <div class="card h-100 rounded-4">
            <div class="card-header d-flex justify-content-between align-items-center rounded-4">
                <h5 class="mb-0">Neueste Bilder</h5>
                <a href="{% url 'bilder' %}" class="btn btn-sm btn-outline-primary">Alle anzeigen</a>
            </div>
            <div class="card-body">
                {% if gallery_images %}
                    <div class="row g-4">
                        {% include 'bilder_show.html' with gallery_images=gallery_images small=True %}
                    </div>
                {% else %}
                    <div class="text-center py-4">
                        <i class="bi bi-images text-muted mb-2" style="font-size: 2rem;"></i>
                        <p class="text-muted mb-0">Keine Bilder vorhanden</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Pending Tasks -->
    <div class="col-md-6 mb-4">
        <div class="card h-100 rounded-4">
            <div class="card-header d-flex justify-content-between align-items-center rounded-4">
                <h5 class="mb-0">Pending Aufgaben - {{ pending_tasks.count }}</h5>
                <a href="{% url 'list_aufgaben_table' %}" class="btn btn-sm btn-outline-primary">Alle anzeigen</a>
            </div>
            <div class="card-body">
                {% if pending_tasks %}
                    <div class="list-group list-group-flush">
                        {% include 'components/task_item.html' with tasks=pending_tasks %}
                    </div>
                {% else %}
                    <p class="text-muted mb-0">Keine pending Aufgaben</p>
                {% endif %}
            </div>

            <div class="card-header d-flex justify-content-between align-items-center rounded-4 border-top">
                <h5 class="mb-0">Überfällige Aufgaben - {{ open_tasks.count }}</h5>
                <a href="{% url 'list_aufgaben_table' %}" class="btn btn-sm btn-outline-primary">Alle anzeigen</a>
            </div>
            <div class="card-body">
                {% if open_tasks %}
                    <div class="list-group list-group-flush">
                        {% include 'components/task_item.html' with tasks=open_tasks %}
                    </div>
                {% else %}
                    <p class="text-muted mb-0">Keine überfällige Aufgaben</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- My Tasks -->
     {% if request.user.customuser.person_cluster.aufgaben %}
    <div class="col-md-6 mb-4">
        <div class="card h-100 rounded-4">
            <div class="card-header d-flex justify-content-between align-items-center rounded-4">
                <h5 class="mb-0">Meine Aufgaben - {{ my_open_tasks.count }}</h5>
                <a href="{% url 'aufgaben' %}" class="btn btn-sm btn-outline-primary">Alle anzeigen</a>
            </div>
            <div class="card-body">
                {% if my_open_tasks %}
                    {% comment %} <div class="list-group list-group-flush">
                        {% include 'components/task_item.html' with tasks=my_open_tasks %}
                    </div> {% endcomment %}

                    {% include 'components/task_grid.html' with tasks=my_open_tasks %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Posts -->
    {% if request.user.customuser.person_cluster.posts %}
    <div class="col-md-6 mb-4">
        <div class="card h-100 rounded-4">
            <div class="card-header d-flex justify-content-between align-items-center rounded-4">
                <h5 class="mb-0">Neueste Posts</h5>
                <a href="{% url 'posts_overview' %}" class="btn btn-sm btn-outline-primary">Alle anzeigen</a>
            </div>
            <div class="card-body">
                {% if posts %}
                    <div class="list-group list-group-flush">
                        {% include 'components/post_card.html' with posts=posts %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}