{% extends "baseOrg.html" %}
{% load list_objects_filters %}

{% block head %}
{% endblock %}

{% block content %}
    <h2>{{ verbose_name }}</h2>
    <p><a href='{% url 'add_object' model_name %}'>Hinzufügen</a></p>
    <input type="text" id="search" placeholder="Suche">
    <button id="rm_search">X</button>
    <table>
        <thead>
        <tr>
            {% for field in field_metadata %}
                <th>{{ field.verbose_name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr data-pk="{{ object.pk }}">
                {% for field in field_metadata %}
                    <td data-default="{{ object|get_attribute:field.name|default:'' }}" data-field="{{ field.name }}">
                        {{ object|get_attribute:field.name|default:'' }}</td>
                    <input type="hidden" name="{{ field.name }}" value="{{ object|get_attribute:field.name }}">
                {% endfor %}
                <td>
                    <a href="{% url 'edit_object' model_name object.pk %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'delete_object' model_name object.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        let ths = document.querySelectorAll('th');
        ths.forEach(th => {
            th.addEventListener('click', () => {
                let index = Array.from(ths).indexOf(th);
                let rows = Array.from(document.querySelectorAll('tbody tr'));
                rows.sort((a, b) => {
                    let aText = a.children[index].textContent;
                    let bText = b.children[index].textContent;
                    if (aText < bText) {
                        return -1;
                    } else if (aText > bText) {
                        return 1;
                    } else {
                        return 0;
                    }
                });
                let tbody = document.querySelector('tbody');
                tbody.innerHTML = '';
                rows.forEach(row => {
                    tbody.appendChild(row);
                });
            });
        });

        let input = document.querySelector('#search');
        input.addEventListener('input', () => {
            let rows = Array.from(document.querySelectorAll('tbody tr'));
            let search = input.value.toLowerCase();
            rows.forEach(row => {
                let found = false;
                row.childNodes.forEach(cell => {
                    if (cell.textContent.toLowerCase().includes(search)) {
                        found = true;
                    }
                });
                if (found) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });

        let btn = document.querySelector('#rm_search');
        btn.addEventListener('click', () => {
            input.value = '';
            let rows = Array.from(document.querySelectorAll('tbody tr'));
            rows.forEach(row => {
                row.style.display = '';
            });
        });


        let tds = document.querySelectorAll('td');
        tds.forEach(td => {
            let pressTimer1, pressTimer2;
            td.addEventListener('dblclick', () => {
                edit(td);
            });
            td.addEventListener('mousedown', () => {
                pressTimer1 = setTimeout(() => {
                    edit(td);
                }, 500);
            });
            td.addEventListener('mouseup', () => {
                clearTimeout(pressTimer1);
            });
            td.addEventListener('mouseleave', () => {
                clearTimeout(pressTimer1);
            });
            td.addEventListener('touchstart', () => {
                pressTimer2 = setTimeout(() => {
                    edit(td);
                }, 500);
            });
            td.addEventListener('touchend', () => {
                clearTimeout(pressTimer2);
            });
            td.addEventListener('touchcancel', () => {
                clearTimeout(pressTimer2);
            });
        });

        function edit(td) {
            if (td.children.length > 0) {
                return;
            }
            let input = document.createElement('input');
            input.value = td.innerText;
            td.innerHTML = '';
            td.appendChild(input);
            input.focus();

            input.addEventListener('blur', () => {
                let value = input.value;
                td.removeChild(input);
                td.textContent = value;

                // call API to update the object
                let form = new FormData();
                form.append('pk', td.parentElement.dataset.pk);
                form.append('field', td.dataset.field);
                form.append('value', value);
                fetch("{% url 'update_object' model_name %}", {
                    method: 'POST',
                    body: form,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(response => {
                    return response.json();
                }).then(data => {
                    if (!data) {
                        return;
                    }
                    if (data.error) {
                        td.textContent = td.dataset.default;
                        alert('Error: ' + data.error);
                        return;
                    }
                    td.textContent = data.value;
                }).catch(error => {
                    td.textContent = td.dataset.default;
                });
            });
            input.addEventListener('keydown', (e) => {
                if (e.key === 'Enter') {
                    input.blur();
                }
                if (e.key === 'Escape') {
                    input.value = td.dataset.default;
                    input.blur();
                }
            });
        }

    </script>

{% endblock %}