{% extends "baseOrg.html" %}
{% load list_objects_filters %}

{% block head %}
    <style>
        .table td:last-child {
            background: white;
            z-index: 1;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row justify-content-md-between justify-content-sm-center">
        <div class="col-md-6 col-sm-12">
            <h2>{{ verbose_name }}</h2>
            <p><a href="{% url 'add_object' model_name %}" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Hinzufügen
            </a></p>
        </div>

        <div class="col-md-6 col-lg-5 col-xl-4 col-sm-10">
            <div class="input-group">
                <input type="text" class="form-control" id="mySearch" placeholder="Suche">
                <button class="btn btn-outline-primary" type="button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row overflow-auto">
        <table class="table table-hover table-condensed table-responsive">
            <thead>
            <tr>
                {% for field in field_metadata %}
                    <th>{{ field.verbose_name }}</th>
                {% endfor %}
                <th class="position-sticky" style="right: 0; background: white;"></th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for object in objects %}
                <tr data-pk="{{ object.pk }}">
                    {% for field in field_metadata %}
                        <td data-default="{{ object|get_attribute:field.name|default:'' }}"
                            data-field="{{ field.name }}">
                            {{ object|get_attribute:field.name|default:'' }}
                        </td>
                    {% endfor %}
                    <td class="position-sticky" style="right: 0">
                        <a class="btn btn-sm btn-outline-primary" href="{% url 'edit_object' model_name object.pk %}">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $("#mySearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}