.venv
migrations*
db.sqlite3
FWMsg/FW/__pycache__/
FWMsg/FW/**/__pycache__/
FWMsg/ORG/__pycache__/
FWMsg/ORG/**/__pycache__/
*.pyc

# Django settings
FWMsg/FWMsg/settings.py

# Python cache files
__pycache__/
*.py[cod]
*.class

# Django local development
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Django media and static files
/media/
/static/

# Virtual Environment
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# Database backups
*.dump
*.sql

# System files
.DS_Store
Thumbs.db
# Document and file directories
FWMsg/Berliner Missionswerk/
FWMsg/dokument/
*.gcode

# Specific directories to ignore
FWMsg/dokument/Berliner Missionswerk/Freundeskreis/
FWMsg/dokument/Berliner Missionswerk/LÜV/
FWMsg/profil_picture/
FWMsg/send_aufgaben_email.txt
.secrets.json
FWMsg/celerybeat-schedule.db
FWMsg/uploads/

bilder/
logos/
static/
FWMsg/dump.rdb
media*
*.sqlite3
convert_dump.py
update-reihenfolge.md