{% extends 'baseTeam.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Ampelmeldung' %}
{% endblock %}

{% block content %}
<div class="card rounded-4">
    <div class="card-header bg-transparent border-0 d-flex justify-content-between align-items-center py-3">
        <h4 class="mb-0">{% trans "Ampel Übersicht" %}</h4>
        <!-- Legend -->
        {% include "components/ampel_legend.html" %}
    </div>
    <div class="card-body p-0">
        {% include "components/ampel_table.html" %}
    </div>
</div>

{% include "components/ampel_modal.html" %}
{% endblock %}