{% extends 'baseTeam.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Kontakte' %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Kontakte</h2>
          <a href="mailto:{% for fw in freiwillige %}{{ fw.user.email }}{% if not forloop.last %},{% endif %}
            {% endfor %}"
            class="btn btn-primary">
            <i class="bi bi-envelope me-2"></i>{% trans 'Mail an alle' %}
          </a>
        </div>
        <p>
          {% trans 'Hier findest du alle Kontaktdaten der Freiwilligen, die in deinem Einsatzland tätig sind.' %}
        </p>
      </div>
    </div>

    <!-- Filter for person clusters -->
    <div class="row">
      <div class="col-12">
        <div class="d-flex gap-1 flex-wrap justify-content-center align-items-center">
          <a class="btn btn-sm rounded-4 btn-outline-primary {% if not current_person_cluster.id %}active{% endif %}" href="{% url 'team_contacts' %}?person_cluster_filter=None">
            {% trans 'Alle' %}
          </a>
          {% for person_cluster in all_person_clusters %}
            <a class="btn btn-sm rounded-4 btn-outline-primary {% if current_person_cluster.id == person_cluster.id %}active{% endif %}" href="{% url 'team_contacts' %}?person_cluster_filter={{ person_cluster.id }}">
              {{ person_cluster.name }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    {% for card in fw_cards %}
    {% include 'components/info_section.html' with section_title=card.title cards=card.cards %}
    {% endfor %}
  </div>
{% endblock %}
