{% load i18n %}

<!-- Personencluster Selector -->
<div class="d-flex align-items-center gap-2">
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="personenClusterDropdown" 
                data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-people me-1"></i>
            <span id="selectedPersonCluster">{% if request.COOKIES.selectedPersonClusterName %}{{ request.COOKIES.selectedPersonClusterName }}{% else %}{% trans "Alle Benutzergruppen" %}{% endif %}</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="personenClusterDropdown">
            <li>
                <a class="dropdown-item" data-person-cluster="">
                    {% trans "Alle Benutzergruppen" %}
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            {% for person_cluster in person_cluster %}
                <li>
                    <a class="dropdown-item" data-person-cluster="{{ person_cluster.id }}">
                        {{ person_cluster }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>