{% load i18n %}

{% if aufgaben_cluster %}
<div class="card-header bg-transparent border-bottom-0 d-flex justify-content-center align-items-center gap-1 flex-wrap">
    <div class="d-flex gap-1 mb-2 justify-content-center align-items-center">
        <strong>{% trans "Filter" %}</strong>
        <div class="d-flex gap-1 flex-wrap justify-content-center align-items-center">
            <a class="btn btn-sm rounded-4 btn-outline-primary {% if not filter or not filter in aufgaben_cluster %}active{% endif %}" href="{% url 'list_aufgaben_table' %}?f=None">
                {% trans "Alle" %}
            </a>
            
            {% for aufgaben_cluster in aufgaben_cluster %}
            <a class="btn btn-sm rounded-4 btn-outline-primary {% if filter == aufgaben_cluster %}active{% endif %}" href="{% url 'list_aufgaben_table' %}?f={{ aufgaben_cluster.id }}">
                {{ aufgaben_cluster.name }}
            </a>
            {% endfor %}
        </div>
    </div>
</div> 
{% endif %}