.body_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 10px;
    height: 650px;
    aspect-ratio: 31/16;
}

.pp_profil_img_div {
    width: 15%;
    margin-left: 20px;
    margin-right: 15px;
    max-height: 100%;
}

.pp_profil_img {
    width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    object-position: center;
    border-radius: 20px;
    border: 10px solid white;
}

.pp_name_field {
    font-size: 2em;
    text-align: left;
    color: black;

}

.pp_top_div {
    display: flex;
    height: 32%;
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pp_second_top_div {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-left: 10px;
}

.pp_second_top_subdiv {
    margin-left: 0;
    display: flex;
    height: 100%;
    justify-content: space-between;
    gap: 20px;
}

.pp_prefer_container {
    margin: 0;
    height: 100%;
    width: 60%;
    text-align: left;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pp_prefer_subcontainer {
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-left: 10px;*/
}

.pp_prefer_container h2 {
    text-align: left;
}

.pp_prefer_container ol {
    list-style: none; /* Remove default numbering */
    counter-reset: myCounter;
    padding-left: 15px; /* Remove default padding */
}


.pp_prefer_container li {
    margin-top: 8px;
    counter-increment: myCounter;
    margin-bottom: 10px; /* Add spacing between items (optional) */
}

.pp_prefer_container li::before {
    content: counter(myCounter) ") ";
    font-weight: bold; /* Make the numbers bold */
}

.pp_prefer_container p {
    text-align: left;
    font-size: 20px;
}

.pp_steckbrief_container {
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pp_steckbrief_container h2 {
    text-align: left;
}

.pp_steckbrief_container img {
    max-height: 30px;
    max-width: 50%;
    margin-left: 10px;
}

.pp_steckbrief_container p {
    text-align: left;
    font-size: 20px;
    margin-right: 0;
}

.pp_bewertungen_h {
    min-width: 400px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 0;
    font-size: 24px;
}

.pp_bewertungen_container {
    position: relative;
    height: 100%;
    width: 50%;
    min-width: 300px;
    text-align: left;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
    margin-left: 7px;
}

.pp_bewertungen_container button {
    border: 2px solid;
    background-color: #E6E6E6;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 30%;
    height: 75%;
    font-weight: bold;
}

.pp_result_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 500px;
    height: 100%;
    margin-left: 20px;
}

.pp_category_container {
    width: 50%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pp_category_container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid darkgray;
    height: 100%;
}

.pp_category_container h3 {
    width: 30%;
    text-align: left;
    font-size: 16px;
}

.pp_result_total {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    width: 10%;
    aspect-ratio: 1;
    margin: 20px;
    border-radius: 20%;
    /*background-color: var(--form-control-color);*/

    background-image: linear-gradient(var(--form-purple-color), var(--form-control-color));
    color: white;
    cursor: default;
}

.pp_sub_div {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 54%;
    min-height: 200px;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.bmw_logo {
    height: 80%;
    z-index: -1;
    margin-right: 20px;
}

.bmw_logo img {
    height: 100%;
    object-fit: contain;
}

.pp_comment_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.pp_comment_container h2 {
    position: sticky;
    top: 0;
    margin-top: 0;
    background-color: white;
}

.pp_comment_container hr {
    width: 80%;
}

.pp_comment_container summary {
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.pp_comment_container a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.pp_comment_container details {
    margin: 0 10px;
    width: 90%;
}

.pp_comment_preview {
    margin-left: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Show only 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: normal;
}

.pp_comment_container details[open] .pp_comment_preview {
    display: none;
}

.pp_comment_container p {
    text-align: left;
    font-size: 16px;
    margin-left: 20px;
}

.pp_footer {
    position: fixed;
    bottom: 0;
    background-color: var(--form-purple-color);
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pp_footer h3 {
    color: white;
    margin-left: 20px;
    white-space: nowrap;
    width: 30%;
}

.pp_navigate_div {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.pp_navigate_div button {
    border: 2px solid;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 45px;
    height: 33px;
    font-weight: bold;
}

.pp_navigate_div button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.pp_navigate_div button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pp_hamburger_button {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 10000;
    color: var(--form-control-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
}

.pp_hamburger_menu {
    color: black;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    background-color: #E6E6E6;
    width: 50%;
    max-width: 300px;
    bottom: 60px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    display: none;
    border-bottom-left-radius: 10px;
}

.pp_hamburger_submenu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow-y: auto;
    /*transform: translateY(-20px);*/
    width: 100%;
}

.pp_hamburger_button_close {
    position: sticky;
    z-index: 10000;
    top: 0;
    right: 0;
    text-align: right;
    background-color: #E6E6E6;

    font-size: 52px;
    color: var(--form-control-color);
    cursor: pointer;
    transform: translateY(-10px);
}

.pp_hamburger_menu_point {
    color: black;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 4px;
    font-weight: bold;
}

.pp_hamburger_menu_point:hover {
    background-color: var(--form-purple-color);
    color: white;
}