
.head-container {
    background-color: #0899d9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    column-gap: 20px;
    padding: 10px;
    margin: 0 auto;
}

.head_sub-container {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.head-container img {
    height: 50px;
}

.head-container h1 {
    font-size: 3.7vw;
    margin: 0;
    color: white;
}

@media (min-width: 500px) {
    .head-container h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 350px) {
    .head-container h1 {
        display: none;
    }
}

.a_btn {
    text-decoration: none;
    color: white;
}

.logout_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px
}

.logout_container a:link {
    color: white;
    text-decoration: underline;
    background-color: var(--form-purple-color);
    padding: 2px;
    border-radius: 2px;
}
