

.headline_container strong {
    margin: 10px;
}


.container_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding: 3px;
}

.freiwillige_div {
    height: 200px;
    width: 30%;
    max-width: 140px;

    margin: 3px;
    border-radius: 5px;
    border: 1px darkgray solid;

    cursor: pointer;
}

.kachel_div {
    text-align: center;
    border-radius: 5px;
    background-color: #f0f0f0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img_container {
    padding: 3px;
    height: 75%;
    border-radius: 3px;
    width: auto;
    max-width: 130px;

    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.freiwillige_div img {
    /*width: 100%;
    max-width: 250px;*/

    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    border-radius: 5px;
}

.freiwillige_div a {
    text-align: center;
    margin: 2px;
}

.continue_button {
    position: sticky;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.back_button {
    bottom: 0;
    left: 50%;
    transform: translate(25%, -50%);
}

.error_msg {
    background-color: var(--form-purple-color);
    border: 2px solid black;
    border-radius: 5px;
    padding: 14px;
    margin: 10px 10% 0 10%;
    text-align: center;
    display: none;
    position: sticky;
    top: 10px;
}

.error_msg p {
    color: white;
}

.error_msg div {
    background-color: white;
    color: var(--form-purple-color);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    vertical-align: center;
    line-height: 15px;
    cursor: pointer;
}