.einheit_button {
    color: white;
    cursor: pointer;
    background-color: var(--form-purple-color);
    border: 2px solid black;
    border-radius: 5px;
    padding: 22px;
    margin: 10px 10% 0 10%;
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 500px;
    font-size: 20px;
}

.einheit_button div {
    background-color: white;
    color: var(--form-purple-color);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    text-align: center;
    vertical-align: center;
    line-height: 25px;
    position: absolute;
}

.einheit_button div img {
    height: 15px;
    width: 15px;
}

.einheiten_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: stretch;
    row-gap: 4vh;
}