.flash_message {
    padding: 10px;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    text-align: center;
}

.flash_message_div {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    background-color: var(--form-purple-color);
}

.flash_message_div_error {
    background-color: #ff0000;
}

.start_button {
    background-color: var(--form-purple-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 16px 30px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 20px;
}

.refresh_button {
    background-color: var(--form-control-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
}

.cookie_info {
    margin-top: 20px;
    font-style: italic;
    text-align: center;
    font-size: 13px;
}

.wellcome_msg {
    margin-top: 20px;
    text-align: center;
}