.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 10px;
    align-items: center;
    gap: 0;
}

.sub_container {
    width: 320px;
    height: 168px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 2px solid black;
    text-align: center;
}

.head_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.logo {
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    margin: 0;
    object-fit: scale-down;
    object-position: left;
}

.sub_container h3 {
    margin: 0;
    font-size: 18px;
    text-align: center;
    width: 100%;
    transform: translateX(-15px);
}

.second_sub_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    margin: 5px;
    width: 100%;
    height: 100px;
}

.name_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    width: 190px;
    height: 100%;
}

.name_container p {
    word-wrap: break-word;
    margin: 0;
    font-size: 16px;
}

.name_container p strong {
    font-size: 16px;
    margin: 0;
}

.name_container h3 {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    margin: 5px;
}

.qrcode_container {
    width: 110px;
    height: 110px;
    border-radius: 0;
}

.qrcode_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}