{% load base_filter %}
{% load i18n %}

<div class="card h-100 border-0 shadow-sm card-hover">
    <div class="card-body">
        <h5 class="fw-bold mb-3">{{ contact.first_name }} {{ contact.last_name }}</h5>
        {% if contact.phone %}
        <div class="d-flex align-items-center text-body-secondary mb-2">
            <i class="bi bi-telephone-fill me-2 text-primary"></i>
            <a href="tel:{{ contact.phone }}" class="text-decoration-none text-body-secondary">
                {{ contact.phone }}
            </a>
        </div>
        {% endif %}
        {% if contact.phone_work %}
        <div class="d-flex align-items-center text-body-secondary mb-2">
            <i class="bi bi-telephone-fill me-2 text-primary"></i>
            <a href="tel:{{ contact.phone_work }}" class="text-decoration-none text-body-secondary">
                {{ contact.phone_work }} ({% trans "Arbeit" %})
            </a>
        </div>
        {% endif %}
        {% if contact.email %}
        <div class="d-flex align-items-center text-body-secondary">
            <i class="bi bi-envelope-fill me-2 text-primary"></i>
            <a href="mailto:{{ contact.email }}" class="text-decoration-none text-body-secondary">
                {{ contact.email }}
            </a>
        </div>
        {% endif %}
    </div>
</div>