{
    "server_mail": "admin@example.com",
    "smtp_server": "smtp.example.com",
    "port": 587,
    "sender_email": "admin@example.com",
    "password": "password",
    "feedback_email": "admin@example.com",
    "imap_server": "imap.example.com",
    "admins": [
        ["Example Mail", "admin@example.com"]
    ],
    "vapid_public_key": "YOUR_VAPID_PUBLIC_KEY",
    "vapid_private_key": "YOUR_VAPID_PRIVATE_KEY",
    "domain_host": "https://example.com",
    "allowed_hosts": ["*"],
    "trusted_orgins": ["*"],
    "debug": true,
    "secret_key": "REPLACE_WITH_YOUR_SECRET_KEY"
}