<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>BMW-Kompass | Auswahlseminar 2024 | Freiwilligenprogramm des Berliner Missionswerks</title>
    <style>
        body {{
            font-family: Arial, sans-serif;
	    color: black;
        }}
        a {{
            color: black;
	    }}
        td {{
            padding: 0;
            padding-right: 15px;
           }}
    </style>
</head>
<body>
<div style="max-width: 800px;">
    <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; background-color: #0899d9; padding: 5px; border-radius: 5px;">
        <a href="https://berliner-missionswerk.de/"><img style="height: 50px;width: auto; margin: 1px;" src="data:image/png;base64,{base64_image}" alt="Inline Image"></a>
        <h2 style="color: white; font-size: 18px; margin: 0;">Freiwilligenprogramm</h2>
    </div>
    <h1>BMW-Kompass</h1>
    <div style="display: flex; justify-content: space-between;">
        <h3>Login-Daten</h3>
        <h3>Auswahlseminar 2024</h3>
    </div>
    <p>Hiermit übersenden wir dir deine persönlichen Login-Daten für das Auswahl-Tool des Freiwilligenprogramms des
        Berliner
        Missionswerkes „BMW-Kompass“. Mit dem Bewertungs-Tool kannst du die Bewerber*innen in den verschiedenen
        Einheiten bewerten und Anmerkungen schreiben. Die Bewertungen können bis zum 23.11.2024, 19:59 Uhr geändert
        werden.</p>
    <div>
        <a style="color: #0899d9"
           href="https://drive.google.com/file/d/1xdglwjJWCXmgYy8mwSXd60K1MYgEPLaG/view?usp=drive_link">Hier</a> <a>geht
        es zum „BMW-Kompass“ Tutorial</a>
    </div>
    <p style="color: red; font-style: italic; text-align: center;">Achte darauf, dass niemand sonst deine Login-Daten
        erfährt.</p>
    <table style="border-spacing: 0; border-collapse: collapse;">
        <tr>
            <td><a style="white-space: nowrap;">Benutzername:</a></td>
            <td><a>{username}</a></td>
        </tr>
        <tr>
            <td><a style="white-space: nowrap;">Passwort:</a></td>
            <td><a>{password}</a></td>
        </tr>
    </table>
    <br>
    <a href="https://auswahl.fw-msg.de" style="color: #0899d9;">https://auswahl.fw-msg.de</a>
    <div style="line-height: 54px;">
        <a>Oder melde dich direkt hier an:</a>
    </div>
    <div style="text-align: center; margin-top: 10px;">
        <a href="{login_url}"
           style="background-color: #0899d9; padding: 10px; border-radius: 10px; text-decoration: none; color: white;">Anmelden</a>
    </div>
    <p style="margin-top: 50px; text-align: center; font-style: italic;">Diese E-Mail wurde automatisch erstellt. Bitte
        antworten Sie nicht auf diese
        Nachricht.</p>
</div>
</body>
</html>
