{% extends "mail/base_email.html" %}

{% block german_content %}
<p>Du hast einen Stellenvorschlag erhalten. Bitte schaue dir den Stellenvorschlag an und teile uns deine Antwort mit.</p>
<div style="background-color: #f7f9fc; border-left: 4px solid {{ org_color }}; padding: 15px; margin: 15px 0; border-radius: 3px;">
    <p style="margin-top:0;">Deine Einsatzstelle ist:</p>
    <p style="font-weight: 600; margin: 0; font-size: 17px; color: {{ org_color }};">{{ bewerber_einsatzstelle }}</p>
</div>
{% endblock %}

{% block german_button_text %}Stellenvorschlag ansehen{% endblock %}

{% block show_english %}{% endblock %}