{% extends "mail/base_email.html" %}

{% block german_content %}
<p>Es gibt einen neuen Kalendereintrag für Dich:</p>

<div style="background-color: #f7f9fc; border-left: 4px solid #3273dc; padding: 15px; margin: 15px 0; border-radius: 3px;">
    <p style="font-weight: 600; margin: 0 0 10px 0; font-size: 17px; color: #3273dc;">{{ event_name }}</p>
    <p style="margin: 5px 0;"><span style="color: #666666;">Start:</span> <span style="font-weight: 500;">{{ event_start }}</span></p>
    <p style="margin: 5px 0;"><span style="color: #666666;">Ende:</span> <span style="font-weight: 500;">{{ event_end }}</span></p>
    {% if event_description %}
    <p style="margin: 5px 0;"><span style="color: #666666;">Beschreibung:</span> {{ event_description }}</p>
    {% endif %}
</div>
{% endblock %}

{% block german_button_text %}Zum Kalender{% endblock %}

{% block english_content %}
<p>There is a new calendar entry for you:</p>

<div style="background-color: #f7f9fc; border-left: 4px solid #3273dc; padding: 15px; margin: 15px 0; border-radius: 3px;">
    <p style="font-weight: 600; margin: 0 0 10px 0; font-size: 17px; color: #3273dc;">{{ event_name }}</p>
    <p style="margin: 5px 0;"><span style="color: #666666;">Start:</span> <span style="font-weight: 500;">{{ event_start }}</span></p>
    <p style="margin: 5px 0;"><span style="color: #666666;">End:</span> <span style="font-weight: 500;">{{ event_end }}</span></p>
    {% if event_description %}
    <p style="margin: 5px 0;"><span style="color: #666666;">Description:</span> {{ event_description }}</p>
    {% endif %}
</div>
{% endblock %}

{% block english_button_text %}View Calendar{% endblock %} 