{% extends 'mail/base_email.html' %}

{% block german_content %}
<tr>
    <td style="padding: 40px 30px;">
        <p style="color: #666; font-size: 16px; line-height: 1.6; margin: 0 0 20px 0;">
            Deine Registrierung bei {{ org_name }} wurde freigeschaltet.
        </p>

        <p style="color: #666; font-size: 16px; line-height: 1.6; margin: 0 0 30px 0;">
            Um dein Passwort festzulegen, besuche die Passwort-zurücksetzen-Seite und gib deine E-Mail-Adresse ein. Du erhältst anschließend eine E-Mail mit weiteren Anweisungen zum ersten Login.
        </p>
    </td>
</tr>
{% endblock %}

{% block german_button_text %}Passwort festlegen{% endblock %}

{% block english_content %}
<p style="color: #666; font-size: 16px; line-height: 1.6; margin: 0 0 20px 0;">
    Your registration at {{ org_name }} has been approved.
</p>

<p style="color: #666; font-size: 16px; line-height: 1.6; margin: 0 0 30px 0;">
    To set your password, visit the password reset page and enter your email address. You will then receive an email with further instructions for your first login.
</p>
{% endblock %}

{% block english_button_text %}Set password{% endblock %}