{% load i18n %}

{# Basic Info #}
<div class="mb-3">
    {% if this_user %}
        <div class="d-flex justify-content-between gap-2 mb-2 align-items-center">
            <a href="mailto:{{ user.org.email|default:'' }}" class="btn btn-sm"><i class="bi bi-envelope-fill me-1"></i>{% trans "Änderungen melden" %}</a>
        </div>
        {% for user_attribute in user_attributes %}
            <p class="mb-2"><strong>{{ user_attribute.attribute.name }}:</strong> {{ user_attribute.value|default:"" }}</p>
        {% endfor%}
        <p class="mb-2"><strong>{% trans "Email" %}:</strong> {{ user.email|default:"" }}</p>

    {% else %}
        {% if user.customuser.geburtsdatum %}
            <p class="mb-2 mb-0"><strong>{% trans "Geburtsdatum" %}:</strong> {{ user.customuser.geburtsdatum|date:"d.m.Y" }}</p>
        {% endif %}
    {% endif %}
</div>

{% if profil_users %}
    <hr class="my-2">
{% endif %}

{# Profile Attributes #}
<div class="mb-3">
    <div class="profile-details">
        {# Profile Attributes List #}
        <div class="profile-attributes mb-4">
            {% for profil in profil_users %}
                <div class="profile-attribute d-flex gap-2 align-items-center mb-2">
                    <a href="{% url 'remove_profil_attribut' profil.id %}" 
                       class="btn btn-sm btn-outline-danger attribute-remove-btn d-none"
                       title="{% trans 'Attribut löschen' %}">
                        <i class="bi bi-trash"></i>
                    </a>
                    <div>
                        <strong>{{ profil.attribut }}:</strong>
                        <span>{{ profil.value }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{# Profile Edit Controls #}
{% if this_user %}
    {% include "components/profile_edit_controls.html" %}
{% endif %} 