.aufgaben_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.aufgaben_div {
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
}

.aufgabe_div {
    width: 200px;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    flex-grow: 1;
}