

.bilder_container {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
}

.bild_container {
    height: 100%;
    width: auto;
}

.bild_container img {
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
}