
.aufgaben_table {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.aufgaben_table_div {
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
}