{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="de">
<head>
    {% include 'header.html' %}

    <title>Auswahlseminar 2025 - Berliner Missionswerk</title>

    <link rel="stylesheet" href="{% static 'css-seminar/base.css' %}">
    <link rel="stylesheet" href="{% static 'css-seminar/style.css' %}">
    <link rel="stylesheet" href="{% static 'css-seminar/chooseBewerber.css' %}">
    <link rel="stylesheet" href="{% static 'css-seminar/index.css' %}">
    <link rel="stylesheet" href="{% static 'css-seminar/chooseEinheit.css' %}">
    <link rel="stylesheet" href="{% static 'css-seminar/login.css' %}">
    <link rel="stylesheet" href="{% static 'css-seminar/land.css' %}">

    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>

<div class="head-container">
    <div class="head_sub-container">
        <a class="a_btn" href="{% url 'seminar_home' %}">
            <img src="{% url 'serve_image' request.user.org.id %}" alt="{{ request.user.org }} Logo">
        </a>
        <h1>{{ request.user.org|get_seminar|get_seminar_name }}</h1>
    </div>

    {% if user.is_authenticated %}
    <div class="logout_container">
        <a>{{user}}</a>
        <a class="a_btn" href="{% url 'logout' %}">Logout</a>
    </div>
    {% endif %}
</div>

{% block content %}
{% endblock %}

<div class="m-4"></div>

</body>
</html>