name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.13.3]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        # Create a temporary requirements file without appscript
        grep -v "appscript" requirements.txt > requirements_ci.txt
        pip install -r requirements_ci.txt
    - name: Run Tests
      working-directory: /home/runner/work/FW-Msg/FW-Msg
      run: |
        python manage.py test
